In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb    # Para usa-lo, precisa instala o (pip install pandas data-reader)
import matplotlib.pyplot as plt

In [25]:
tickers = ['SAPR4.SA', 'COGN3.SA', 'LREN3.SA', 'AMER3.SA', 'BBSE3.SA', 'BBAS3.SA']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2022/01/01', end = "2022/05/02") ['Adj Close']  #Adj Close é a coluna
print (sec_data.head())
print (sec_data.tail())

            SAPR4.SA  COGN3.SA   LREN3.SA   AMER3.SA   BBSE3.SA   BBAS3.SA
Date
2022-01-03  3.669104      2.39  22.946363  30.409204  19.813507  27.968678
2022-01-04  3.639193      2.29  22.667984  29.370075  19.765415  27.997791
2022-01-05  3.599311      2.14  21.564411  28.056461  19.524960  27.531973
2022-01-06  3.499608      2.09  22.667984  28.683859  19.659616  27.755177
2022-01-07  3.549459      2.07  22.856884  27.154577  19.044050  27.784290
            SAPR4.SA  COGN3.SA   LREN3.SA   AMER3.SA   BBSE3.SA   BBAS3.SA
Date
2022-04-26  3.968216      2.57  24.459999  25.040001  26.070000  33.919998
2022-04-27  4.028039      2.60  24.530001  25.020000  26.080000  34.070000
2022-04-28  4.067920      2.56  24.389999  25.209999  25.889999  34.009998
2022-04-29  3.960000      2.45  23.860001  24.000000  25.430000  33.200001
2022-05-02  3.870000      2.43  23.620001  23.540001  24.629999  32.720001

In [53]:
sec_returns = np.log(sec_data / sec_data.shift(1))  # Calcula o retorno logarítimo de ambas empresas 
sec_returns

            SAPR4.SA  COGN3.SA  LREN3.SA  AMER3.SA  BBSE3.SA  BBAS3.SA
Date
2022-01-03       NaN       NaN       NaN       NaN       NaN       NaN
2022-01-04 -0.818561 -4.274161 -1.220594 -3.476904 -0.243018  0.104040
2022-01-05 -1.101943 -6.774592 -4.990921 -4.575735 -1.224008 -1.677764
2022-01-06 -2.809170 -2.364185  4.990921  2.211560  0.687298  0.807439
2022-01-07  1.414449 -0.961545  0.829881 -5.478893 -3.181188  0.104840
...              ...       ...       ...       ...       ...       ...
2022-04-26 -0.750951 -1.544431 -2.183673 -5.251054 -1.144182 -2.273495
2022-04-27  1.496292  1.160554  0.285779 -0.079906  0.038352  0.441247
2022-04-28  0.985221 -1.550417 -0.572370  0.756518 -0.731196 -0.176267
2022-04-29 -2.688771 -4.391919 -2.196974 -4.918687 -1.792718 -2.410465
2022-05-02 -2.298956 -0.819676 -1.010960 -1.935269 -3.196441 -1.456335

[82 rows x 6 columns]

In [54]:
sec_returns ['SAPR4.SA']. mean()            # Retorno médio diário

0.0658109813135999

In [57]:
sec_returns['SAPR4.SA']. mean() *50 *81     # "Anualizando" o retorno médio diário

5.330689486401592

In [12]:
sec_returns ['SAPR4.SA'].std()              #.std() calcula o desvio padrão

0.01422795275748419

In [14]:
sec_returns['SAPR4.SA'].std() *81 ** 0.5    # Anualizar o desvio padrão

0.1280515748173577

------------------------------------------------------------------------------------------------------------------------

In [35]:
sec_returns ['COGN3.SA']. mean()    # Retorno médio diário

-0.00289428235006112

In [37]:
sec_returns['COGN3.SA']. mean() * 50 *100  # "Anualizando" o retorno médio diário

-14.471411750305599

In [38]:
sec_returns ['COGN3.SA'].std()   #.std() calcula o desvio padrão

0.030811102384750107

In [39]:
sec_returns['COGN3.SA'].std() * 50 ** 0.5      # Anualizar o desvio padrão

0.21786739432089808

-----------------------------------------------------------------------------------------------------------------------------

In [50]:
sec_returns ['LREN3.SA']. mean()    # Retorno médio diário

0.0003572145398236838

In [52]:
sec_returns['LREN3.SA']. mean() *81 # "Anualizando" o retorno médio diário

0.02893437772571839

In [46]:
sec_returns ['LREN3.SA'].std()   #.std() calcula o desvio padrão

0.029340402489914957

In [47]:
sec_returns['LREN3.SA'].std() * 50 ** 0.5      # Anualizar o desvio padrão

0.2074679756336153

-----------------------------------------------------------------------------------------------------------------------------

In [42]:
sec_returns ['AMER3.SA']. mean()    # Retorno médio diário

-0.003161039517363252

In [43]:
sec_returns['AMER3.SA']. mean() * 81 *100  # "Anualizando" o retorno médio diário

-25.604420090642343

In [40]:
sec_returns ['AMER3.SA'].std()   #.std() calcula o desvio padrão

0.04013662894342254

In [41]:
sec_returns['AMER3.SA'].std() * 50 ** 0.5      # Anualizar o desvio padrão

0.28380882499862337

-----------------------------------------------------------------------------------------------------------------------------

In [69]:
sec_returns ['BBSE3.SA']. mean()    # Retorno médio diário

0.0026211911406879783

In [70]:
sec_returns['BBSE3.SA']. mean() * 50 *100  # "Anualizando" o retorno médio diário

13.105955703439893

In [71]:
sec_returns ['BBSE3.SA'].std()   #.std() calcula o desvio padrão

0.017483040540811207

In [72]:
sec_returns['BBSE3.SA'].std() * 50 ** 0.5      # Anualizar o desvio padrão

0.1236237652216693

-----------------------------------------------------------------------------------------------------------------------------

In [73]:
sec_returns ['BBAS3.SA']. mean()    # Retorno médio diário

0.0034902612336056246

In [74]:
sec_returns['BBAS3.SA']. mean() *50 *100  # "Anualizando" o retorno médio diário

17.451306168028122

In [75]:
sec_returns ['BBAS3.SA'].std()   #.std() calcula o desvio padrão

0.01783111671341105

In [76]:
sec_returns['BBAS3.SA'].std() *50 ** 0.5      # Anualizar o desvio padrão

0.12608503544181737

-----------------------------------------------------------------------------------------------------------------------------

In [80]:
'SAPR4.SA', 'COGN3.SA', 'LREN3.SA', 'AMER3.SA', 'BBSE3.SA', 'BBAS3.SA'

print (sec_returns['SAPR4.SA'].mean() *50 *100)    # Média 
print (sec_returns['COGN3.SA'].mean() *50 *100)    # Média
print (sec_returns['LREN3.SA'].mean() *50 *100)    # Média
print (sec_returns['AMER3.SA'].mean() *50 *100)    # Média
print (sec_returns['BBSE3.SA'].mean() *50 *100)    # Média
print (sec_returns['BBAS3.SA'].mean() *50 *100)    # Média

6.846528390244988
-14.471411750305599
-3.5812285500757692
-25.308448781466243
13.105955703439893
17.451306168028122

In [81]:
print (sec_returns ['SAPR4.SA'].std())
print (sec_returns ['COGN3.SA'].std())
print (sec_returns ['LREN3.SA'].std())
print (sec_returns ['AMER3.SA'].std())
print (sec_returns ['BBSE3.SA'].std())
print (sec_returns ['BBAS3.SA'].std())

0.015292689922650734
0.030811102384750107
0.03163222190561424
0.039035695396041806
0.017483040540811207
0.01783111671341105

OR

In [82]:
sec_returns [['SAPR4.SA', 'COGN3.SA', 'LREN3.SA', 'AMER3.SA', 'BBSE3.SA', 'BBAS3.SA']]. std() * 50

SAPR4.SA    0.764634
COGN3.SA    1.540555
LREN3.SA    1.581611
AMER3.SA    1.951785
BBSE3.SA    0.874152
BBAS3.SA    0.891556
dtype: float64

In [83]:
sec_returns [['SAPR4.SA', 'COGN3.SA', 'LREN3.SA', 'AMER3.SA', 'BBSE3.SA', 'BBAS3.SA']]. std() * 50 ** 0.5

SAPR4.SA    0.108136
COGN3.SA    0.217867
LREN3.SA    0.223674
AMER3.SA    0.276024
BBSE3.SA    0.123624
BBAS3.SA    0.126085
dtype: float64


'SAPR4.SA', 'COGN3.SA', 'LREN3.SA', 'AMER3.SA', 'BBSE3.SA', 'BBAS3.SA'

Medindo duas variáveis (Calculando a covariancia e a correlação)

In [46]:
AAPL_var = sec_returns ['SAPR4.SA'].var()   # var Calcula a variancia 
AAPL_var

0.00020877144871937737

In [47]:
MSFT_var = sec_returns ['COGN3.SA'].var()
MSFT_var

0.0007356097085232721

In [48]:
MSFT_var = sec_returns ['LREN3.SA'].var()
MSFT_var

0.0005097148884461029

In [49]:
MSFT_var = sec_returns ['AMER3.SA'].var()
MSFT_var

0.001049673348245666

In [50]:
MSFT_var = sec_returns ['BBSE3.SA'].var()
MSFT_var

0.00020158474080199504

In [51]:
MSFT_var = sec_returns ['BBAS3.SA'].var()
MSFT_var

0.0003916823798507679

In [52]:
AAPL_var = sec_returns ['SAPR4.SA'].var() *165
AAPL_var

0.03444728903869727

In [53]:
AAPL_var = sec_returns ['COGN3.SA'].var() *165
AAPL_var

0.12137560190633989

In [54]:
AAPL_var = sec_returns ['LREN3.SA'].var() *165
AAPL_var

0.08410295659360698

In [55]:
AAPL_var = sec_returns ['AMER3.SA'].var() *165
AAPL_var

0.17319610246053488

In [56]:
AAPL_var = sec_returns ['BBSE3.SA'].var() *165
AAPL_var

0.03326148223232918

In [57]:
MSFT_var = sec_returns ['BBAS3.SA'].var() *165
MSFT_var

0.0646275926753767

In [58]:
corr_matrix = sec_returns.cov()   # Covariancia diária
corr_matrix

          SAPR4.SA  COGN3.SA  LREN3.SA  AMER3.SA  BBSE3.SA  BBAS3.SA
SAPR4.SA  0.000209  0.000174  0.000162  0.000140  0.000083  0.000099
COGN3.SA  0.000174  0.000736  0.000315  0.000345  0.000174  0.000223
LREN3.SA  0.000162  0.000315  0.000510  0.000229  0.000145  0.000165
AMER3.SA  0.000140  0.000345  0.000229  0.001050  0.000155  0.000032
BBSE3.SA  0.000083  0.000174  0.000145  0.000155  0.000202  0.000136
BBAS3.SA  0.000099  0.000223  0.000165  0.000032  0.000136  0.000392

In [59]:
corr_matrix_a = sec_returns.cov() * 165  # Covariancia anualizada. 
corr_matrix_a

          SAPR4.SA  COGN3.SA  LREN3.SA  AMER3.SA  BBSE3.SA  BBAS3.SA
SAPR4.SA  0.034447  0.028641  0.026720  0.023095  0.013614  0.016401
COGN3.SA  0.028641  0.121376  0.051916  0.056867  0.028686  0.036764
LREN3.SA  0.026720  0.051916  0.084103  0.037716  0.023864  0.027301
AMER3.SA  0.023095  0.056867  0.037716  0.173196  0.025573  0.005242
BBSE3.SA  0.013614  0.028686  0.023864  0.025573  0.033261  0.022402
BBAS3.SA  0.016401  0.036764  0.027301  0.005242  0.022402  0.064628

In [60]:
corr_matrix = sec_returns.corr()    #Calculando a correlação 
corr_matrix

          SAPR4.SA  COGN3.SA  LREN3.SA  AMER3.SA  BBSE3.SA  BBAS3.SA
SAPR4.SA  1.000000  0.442945  0.496425  0.298997  0.402202  0.347593
COGN3.SA  0.442945  1.000000  0.513845  0.392219  0.451476  0.415094
LREN3.SA  0.496425  0.513845  1.000000  0.312500  0.451205  0.370308
AMER3.SA  0.298997  0.392219  0.312500  1.000000  0.336926  0.049551
BBSE3.SA  0.402202  0.451476  0.451205  0.336926  1.000000  0.483177
BBAS3.SA  0.347593  0.415094  0.370308  0.049551  0.483177  1.000000