## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. Create a series object of 10 randomly generated integer values.

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5), name = 'column 01')  
ser

ser[2] #retorna o terceiro da coluna

0.2990687352599979

In [3]:
from pandas_datareader import data as wb   # Importa as informações do site

AAPL = wb.DataReader ('AAPL', data_source = 'yahoo', start = '2021-08')  # AAPL é o ticket da açãO  # data_source é onde busca a fonte de dados
AAPL

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-08-02,146.949997,145.250000,146.360001,145.520004,62880000.0,145.302307
2021-08-03,148.039993,145.179993,145.809998,147.360001,64786600.0,147.139542
2021-08-04,147.789993,146.279999,147.270004,146.949997,56368300.0,146.730164
2021-08-05,147.839996,146.169998,146.979996,147.059998,46397700.0,146.839996
2021-08-06,147.110001,145.630005,146.350006,146.139999,54067400.0,146.139999
2021-08-09,146.699997,145.520004,146.199997,146.089996,48908700.0,146.089996
2021-08-10,147.710007,145.300003,146.440002,145.600006,69023100.0,145.600006
2021-08-11,146.720001,145.529999,146.050003,145.860001,48493500.0,145.860001
2021-08-12,149.050003,145.839996,146.190002,148.889999,72282600.0,148.889999
2021-08-13,149.440002,148.270004,148.970001,149.100006,59318800.0,149.100006
2021-08-16,151.190002,146.470001,148.539993,151.119995,103296000.0,151.119995
2021-08-17,151.679993,149.089996,150.229996,150.190002,92229700.0,150.190002
2021-08-18,150.720001,146.149994,149.800003,146.360001,86326000.0,146.360001
2021-08-19,148.000000,144.500000,145.029999,146.699997,86960300.0,146.699997
2021-08-20,148.500000,146.779999,147.440002,148.190002,59947400.0,148.190002
2021-08-23,150.190002,147.889999,148.309998,149.710007,60131800.0,149.710007
2021-08-24,150.860001,149.149994,149.449997,149.619995,48540800.0,149.619995
2021-08-25,150.320007,148.120499,149.809998,148.210007,18955733.0,148.210007

b. Extract data from IEX for Ford from the 1st of January 2015. The ticker you need is ‘F’.

Buscando os tickers das ações

In [4]:
tickers = ['AAPL', 'AMZN', 'VALE', 'DIS', 'BTC-USD']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2021-08-16') ['Adj Close']  #Adj Close é a coluna
new_data.tail()

                  AAPL         AMZN       VALE         DIS       BTC-USD
Date
2021-08-19  146.699997  3187.750000  18.059999  173.250000  49339.175781
2021-08-20  148.190002  3199.949951  18.230000  175.119995  48905.492188
2021-08-23  149.710007  3265.870117  17.910000  177.660004  47706.117188
2021-08-24  149.619995  3305.780029  18.920000  178.470001           NaN
2021-08-25  148.220001  3300.500000  19.120001  178.210007  48271.664062

Como salvar os dados em formato de arquivo

In [5]:
import quandl

mydata_01 = quandl.get("FRED/GDP")
mydata_01.tail()
mydata_01.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [6]:
import pandas as pd
mydata_01.to_csv('C:/Users/ronal/Documents/Pyton para finanças/example_01.csv')

In [7]:
mydata_02 = pd.read_csv('C:/Users/ronal/Documents/Pyton para finanças/example_01.csv')
mydata_02.head()

         Date    Value
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742

In [8]:
import pandas as pd

mydata_03=pd.read_csv('example_01.csv')
display(mydata_03)

           Date      Value
0    1947-01-01    243.164
1    1947-04-01    245.968
2    1947-07-01    249.585
3    1947-10-01    259.745
4    1948-01-01    265.742
..          ...        ...
293  2020-04-01  19477.444
294  2020-07-01  21138.574
295  2020-10-01  21477.597
296  2021-01-01  22038.226
297  2021-04-01  22722.581

[298 rows x 2 columns]