In [10]:
# Importando as bibliotecas que serão utilizadas. 
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt
import time

In [11]:
tempo_inicial = time.time()

# Importando os dados do aquivo "IBOVDiA3.csv".
dados = pd.read_csv('IBOVDiA3.csv')   

# Selecinando os tickers das ações.
tickers = dados["CD"]
tickers

0     RRRP3.SA
1     ALPA4.SA
2     ABEV3.SA
3     AMER3.SA
4     ASAI3.SA
        ...
87    VALE3.SA
88    VIIA3.SA
89    VBBR3.SA
90    WEGE3.SA
91    YDUQ3.SA
Name: CD, Length: 92, dtype: object

In [12]:
# Informando a data inicial e final.
data_inicial = dt.datetime(2022,6,9)
data_final   = dt.datetime(2022,6,10)

# Direcionando dos dados extraídos da tabela.
lista = tickers

# Importando a cotação das ações (tickers) via "yahoo finance,".
df = wb.DataReader (lista, "yahoo", data_inicial, data_final) 
df["Close"].round(2)

Symbols,RRRP3.SA,ALPA4.SA,ABEV3.SA,AMER3.SA,ASAI3.SA,AZUL4.SA,B3SA3.SA,BIDI11.SA,BPAN4.SA,BBSE3.SA,...,VIVT3.SA,TIMS3.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VIIA3.SA,VBBR3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2022-06-09,46.02,19.82,13.61,17.03,15.60,16.47,11.95,11.06,7.00,25.16,...,46.87,12.98,27.51,12.97,10.12,84.54,2.91,18.14,24.52,14.99
2022-06-10,44.57,19.23,13.59,15.22,15.04,15.38,11.66,10.30,6.83,24.60,...,46.80,12.79,26.23,12.75,10.11,84.56,2.83,17.41,24.00,14.25

In [13]:
# Usando a função "pct_change() " para calcular a variação diária.
df['Close'] = df['Close'].pct_change()         

# Selecionando a coluna "Close" e multiplicando por 100 as cotações da linha 01.
# Colocando 2 colchetes, cria-se um data-frame. Essa função ocorre graças ao pandas. 
test = df[['Close']].round(4)*100    
test

Attributes    Close                                                        \
Symbols    RRRP3.SA ALPA4.SA ABEV3.SA AMER3.SA ASAI3.SA AZUL4.SA B3SA3.SA
Date
2022-06-09      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-06-10    -3.15    -2.98    -0.15   -10.63    -3.59    -6.62    -2.43

Attributes                              ...                             \
Symbols    BIDI11.SA BPAN4.SA BBSE3.SA  ... VIVT3.SA TIMS3.SA TOTS3.SA
Date                                    ...
2022-06-09       NaN      NaN      NaN  ...      NaN      NaN      NaN
2022-06-10     -6.87    -2.43    -2.23  ...    -0.15    -1.46    -4.65

Attributes
Symbols    UGPA3.SA USIM5.SA VALE3.SA VIIA3.SA VBBR3.SA WEGE3.SA YDUQ3.SA
Date
2022-06-09      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-06-10     -1.7     -0.1     0.02    -2.75    -4.02    -2.12    -4.94

[2 rows x 92 columns]

In [14]:
# Selecionando os dados da linha 01.
ibov = test.iloc[1].round(3)
ibov

# Transformando os dados em um "DataFrame"
ibov = pd.DataFrame (ibov)
print(ibov)

# Ordenado os dados
ibov.sort_values(['2022-06-10'], ascending = False, inplace = True)
print(ibov)

                     2022-06-10
Attributes Symbols
Close      RRRP3.SA       -3.15
           ALPA4.SA       -2.98
           ABEV3.SA       -0.15
           AMER3.SA      -10.63
           ASAI3.SA       -3.59
...                         ...
           VALE3.SA        0.02
           VIIA3.SA       -2.75
           VBBR3.SA       -4.02
           WEGE3.SA       -2.12
           YDUQ3.SA       -4.94

[92 rows x 1 columns]
                      2022-06-10
Attributes Symbols
Close      QUAL3.SA         7.39
           CMIN3.SA         3.98
           RADL3.SA         0.73
           HYPE3.SA         0.57
           MRFG3.SA         0.53
...                          ...
           POSI3.SA        -6.39
           ELET6.SA        -6.59
           AZUL4.SA        -6.62
           BIDI11.SA       -6.87
           AMER3.SA       -10.63

[92 rows x 1 columns]

In [15]:
# Exportando via arquivo xlsx.
ibov.to_excel('ibov_cotação.xlsx')

In [16]:
tempo_final = time.time()

tempo = int(tempo_final - tempo_inicial)/60
tempo

3.3