In [73]:
# Importando as bibliotecas que serão utilizadas. 
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt

In [74]:
# Importando os dados do aquivo "IBOVDiA3.csv".
dados = pd.read_csv('IBOVDiA3.csv')   

# Selecinando os tickers das ações.
tickers = dados["CD"]
tickers

0     RRRP3.SA
1     ALPA4.SA
2     ABEV3.SA
3     AMER3.SA
4     ASAI3.SA
        ...
87    VALE3.SA
88    VIIA3.SA
89    VBBR3.SA
90    WEGE3.SA
91    YDUQ3.SA
Name: CD, Length: 92, dtype: object

In [75]:
# Informando a data inicial e final.
data_inicial = dt.datetime(2022,6,7)
data_final   = dt.datetime(2022,6,8)

# Direcionando dos dados extraídos da tabela.
lista = tickers

# Importando a cotação das ações (tickers) via "yahoo finance,".
df = wb.DataReader (lista, "yahoo", data_inicial, data_final) 
df["Close"].round(2)

Symbols,RRRP3.SA,ALPA4.SA,ABEV3.SA,AMER3.SA,ASAI3.SA,AZUL4.SA,B3SA3.SA,BIDI11.SA,BPAN4.SA,BBSE3.SA,...,VIVT3.SA,TIMS3.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VIIA3.SA,VBBR3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2022-06-07,46.86,20.25,13.73,17.08,15.70,17.62,11.89,11.3,7.13,25.42,...,48.01,13.17,28.04,13.26,11.11,90.62,2.94,18.65,25.95,15.18
2022-06-08,46.79,20.38,13.76,16.69,15.94,17.40,11.79,11.1,7.10,25.32,...,47.40,13.17,28.09,12.98,10.63,87.50,3.01,18.38,24.41,14.92

In [76]:
# Usando a função "pct_change() " para calcular a variação diária.
df['Close'] = df['Close'].pct_change()         

# Selecionando a coluna "Close" e multiplicando por 100 as cotações da linha 01.
# Colocando 2 colchetes, cria-se um data-frame. Essa função ocorre graças ao pandas. 
test = df[['Close']].round(4)*100    
test

Attributes    Close                                                        \
Symbols    RRRP3.SA ALPA4.SA ABEV3.SA AMER3.SA ASAI3.SA AZUL4.SA B3SA3.SA
Date
2022-06-07      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-06-08    -0.15     0.64     0.22    -2.28     1.53    -1.25    -0.84

Attributes                              ...                             \
Symbols    BIDI11.SA BPAN4.SA BBSE3.SA  ... VIVT3.SA TIMS3.SA TOTS3.SA
Date                                    ...
2022-06-07       NaN      NaN      NaN  ...      NaN      NaN      NaN
2022-06-08     -1.77    -0.42    -0.39  ...    -1.27      0.0     0.18

Attributes
Symbols    UGPA3.SA USIM5.SA VALE3.SA VIIA3.SA VBBR3.SA WEGE3.SA YDUQ3.SA
Date
2022-06-07      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-06-08    -2.11    -4.32    -3.44     2.38    -1.45    -5.93    -1.71

[2 rows x 92 columns]

In [77]:
# Selecionando os dados da linha 01.
ibov = test.iloc[1].round(3)

# Transformando os dados em um "DataFrame"
ibov = pd.DataFrame (ibov)

# Ordenado os dados
ibov.sort_values(['2022-06-08'], ascending = False, inplace = True)
ibov

                     2022-06-08
Attributes Symbols
Close      QUAL3.SA        3.20
           HAPV3.SA        3.07
           COGN3.SA        2.41
           VIIA3.SA        2.38
           PRIO3.SA        1.79
...                         ...
           LWSA3.SA       -3.58
           USIM5.SA       -4.32
           GGBR4.SA       -4.90
           CSNA3.SA       -4.93
           WEGE3.SA       -5.93

[92 rows x 1 columns]

In [78]:
# Exportando via arquivo xlsx.
ibov.to_excel('ibov_cotação.xlsx')