In [9]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt

In [10]:
dados = pd.read_csv('IBOVDiA3.csv')               # Importando os dados dp aquivo "IBOVDiA3.csv".
display(dados)

   Unnamed: 0 Unnamed: 1        CD
0       RRRP3        .SA  RRRP3.SA
1       ALPA4        .SA  ALPA4.SA
2       ABEV3        .SA  ABEV3.SA
3       AMER3        .SA  AMER3.SA
4       ASAI3        .SA  ASAI3.SA
..        ...        ...       ...
86      VALE3        .SA  VALE3.SA
87      VIIA3        .SA  VIIA3.SA
88      VBBR3        .SA  VBBR3.SA
89      WEGE3        .SA  WEGE3.SA
90      YDUQ3        .SA  YDUQ3.SA

[91 rows x 3 columns]

In [11]:
tickers = dados["CD"]                            # Selecinando apenas os tickers das ações.
data_inicial = dt.datetime(2022,4,29)
data_final    = dt.datetime(2022,5,2)
lista = tickers #["VALE3.SA", "ASAI3.SA","ABEV3.SA","RRRP3.SA" ]
df = wb.DataReader (lista, "yahoo", data_inicial, data_final) 
df

Attributes  Adj Close                                                   \
Symbols      RRRP3.SA ALPA4.SA ABEV3.SA   AMER3.SA ASAI3.SA   AZUL4.SA
Date
2022-04-29  46.230000    19.60    14.52  24.000000    15.28  21.969999
2022-05-02  43.630001    19.74    14.46  23.469999    15.14  20.330000

Attributes                                         ...     Volume             \
Symbols    B3SA3.SA BIDI11.SA BPAN4.SA   BBSE3.SA  ...   VIVT3.SA   TIMS3.SA
Date                                               ...
2022-04-29    13.30     15.17     9.36  25.430000  ...  3437200.0  5765500.0
2022-05-02    13.04     14.82     8.98  24.860001  ...   761100.0  1532900.0

Attributes                                                             \
Symbols      TOTS3.SA    UGPA3.SA    USIM5.SA    VALE3.SA    VIIA3.SA
Date
2022-04-29  5602500.0  11871800.0  17762100.0  35359700.0  44702400.0
2022-05-02  1772000.0   3425200.0   6259900.0  11863700.0  17696200.0

Attributes
Symbols      VBBR3.SA   WEGE3.SA   YDUQ3.SA
Date
2022-04-29  6080700.0  9529500.0  2417000.0
2022-05-02  2273200.0  3617200.0   598100.0

[2 rows x 546 columns]

In [12]:
df['Close'] = df['Close'].pct_change()           # Calculando a variação diária da ação.

test = df[['Close']].round(4)*100    # Selecionando a coluna "Close" e multiplicando por 100 as cotações da linha 01.
                                     # Colocando 2 colchetes, cria-se um data freme. Essa função ocorre graças ao pandas. 
test

Attributes    Close                                                        \
Symbols    RRRP3.SA ALPA4.SA ABEV3.SA AMER3.SA ASAI3.SA AZUL4.SA B3SA3.SA
Date
2022-04-29      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-05-02    -5.62     0.71    -0.41    -2.21    -0.92    -7.46    -1.95

Attributes                              ...                             \
Symbols    BIDI11.SA BPAN4.SA BBSE3.SA  ... VIVT3.SA TIMS3.SA TOTS3.SA
Date                                    ...
2022-04-29       NaN      NaN      NaN  ...      NaN      NaN      NaN
2022-05-02     -2.31    -4.06    -2.24  ...    -2.46    -0.67     -2.0

Attributes
Symbols    UGPA3.SA USIM5.SA VALE3.SA VIIA3.SA VBBR3.SA WEGE3.SA YDUQ3.SA
Date
2022-04-29      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-05-02    -5.94    -1.33    -3.36    -1.01    -2.08    -2.96    -2.48

[2 rows x 91 columns]

In [13]:
ibov = test.iloc[1].round(3)              # Buscando os dados da linha 01.
sorted (ibov)                             # sorted é usado para colocar em ordem crescente

[-11.31,
 -9.42,
 -8.87,
 -7.51,
 -7.46,
 -7.12,
 -7.06,
 -6.44,
 -5.94,
 -5.62,
 -5.24,
 -4.87,
 -4.64,
 -4.45,
 -4.36,
 -4.14,
 -4.06,
 -3.98,
 -3.9,
 -3.82,
 -3.74,
 -3.71,
 -3.43,
 -3.36,
 -3.14,
 -3.05,
 -3.0,
 -2.96,
 -2.81,
 -2.76,
 -2.75,
 -2.66,
 -2.6,
 -2.6,
 -2.59,
 -2.53,
 -2.48,
 -2.46,
 -2.41,
 -2.38,
 -2.31,
 -2.24,
 -2.21,
 -2.19,
 -2.18,
 -2.08,
 -2.08,
 -2.08,
 -2.04,
 -2.0,
 -1.95,
 -1.94,
 -1.76,
 -1.61,
 -1.58,
 -1.55,
 -1.52,
 -1.48,
 -1.39,
 -1.33,
 -1.31,
 -1.21,
 -1.18,
 -1.04,
 -1.01,
 -0.98,
 -0.92,
 -0.85,
 -0.84,
 -0.76,
 -0.75,
 -0.69,
 -0.67,
 -0.56,
 -0.53,
 -0.47,
 -0.47,
 -0.41,
 -0.39,
 -0.28,
 -0.21,
 -0.2,
 -0.1,
 0.0,
 0.0,
 0.39,
 0.45,
 0.49,
 0.71,
 0.71,
 4.04]

In [14]:
test = pd.DataFrame(ibov)
test

                     2022-05-02
Attributes Symbols
Close      RRRP3.SA       -5.62
           ALPA4.SA        0.71
           ABEV3.SA       -0.41
           AMER3.SA       -2.21
           ASAI3.SA       -0.92
...                         ...
           VALE3.SA       -3.36
           VIIA3.SA       -1.01
           VBBR3.SA       -2.08
           WEGE3.SA       -2.96
           YDUQ3.SA       -2.48

[91 rows x 1 columns]

In [15]:
ibov.to_excel('ibov_cotação.xlsx')       # Exportando via arquivo xlsx.

In [16]:
# .index