In [6]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt

In [7]:
dados = pd.read_csv('IBOVDiA3.csv')               # Importando os dados dp aquivo "IBOVDiA3.csv".
display(dados)

   Unnamed: 0 Unnamed: 1        CD
0       RRRP3        .SA  RRRP3.SA
1       ALPA4        .SA  ALPA4.SA
2       ABEV3        .SA  ABEV3.SA
3       AMER3        .SA  AMER3.SA
4       ASAI3        .SA  ASAI3.SA
..        ...        ...       ...
86      VALE3        .SA  VALE3.SA
87      VIIA3        .SA  VIIA3.SA
88      VBBR3        .SA  VBBR3.SA
89      WEGE3        .SA  WEGE3.SA
90      YDUQ3        .SA  YDUQ3.SA

[91 rows x 3 columns]

In [8]:
tickers = dados["CD"]                            # Selecinando apenas os tickers das ações.
data_inicial = dt.datetime(2022,4,25)
data_final    = dt.datetime(2022,4,27)
lista = ["VALE3.SA", "ASAI3.SA","ABEV3.SA","RRRP3.SA" ]
df = wb.DataReader (lista, "yahoo", data_inicial, data_final) 
df

Attributes  Adj Close                                     Close           \
Symbols      VALE3.SA   ASAI3.SA ABEV3.SA   RRRP3.SA   VALE3.SA ASAI3.SA
Date
2022-04-25  79.080002  15.881098    15.12  43.369999  79.080002    16.01
2022-04-26  78.000000  15.702546    14.75  44.340000  78.000000    15.83
2022-04-27  82.169998  15.762064    14.68  43.599998  82.169998    15.89

Attributes                           High             ...      Low             \
Symbols    ABEV3.SA   RRRP3.SA   VALE3.SA   ASAI3.SA  ... ABEV3.SA   RRRP3.SA
Date                                                  ...
2022-04-25    15.12  43.369999  79.610001  16.180000  ...    14.63  42.029999
2022-04-26    14.75  44.340000  79.320000  16.020000  ...    14.74  42.549999
2022-04-27    14.68  43.599998  82.699997  16.200001  ...    14.64  42.880001

Attributes       Open                                 Volume           \
Symbols      VALE3.SA ASAI3.SA ABEV3.SA   RRRP3.SA  VALE3.SA ASAI3.SA
Date
2022-04-25  77.940002    15.99    14.76  42.139999  38943700  6454900
2022-04-26  79.080002    15.92    15.04  43.320000  37069400  9387600
2022-04-27  80.459999    16.00    14.89  45.000000  49408800  7959000

Attributes
Symbols     ABEV3.SA RRRP3.SA
Date
2022-04-25  34312300  3236300
2022-04-26  23589700  3425000
2022-04-27  19261700  3720900

[3 rows x 24 columns]

In [9]:
df['Close'] = df['Close'].pct_change()           # Calculando a variação diária da ação.

test = df[['Close']].round(4)*100    # Selecionando a coluna "Close" e multiplicando por 100 as cotações da linha 01.
                                     # Colocando 2 colchetes, cria-se um data freme. Essa função ocorre graças ao pandas. 
test

Attributes    Close
Symbols    VALE3.SA ASAI3.SA ABEV3.SA RRRP3.SA
Date
2022-04-25      NaN      NaN      NaN      NaN
2022-04-26    -1.37    -1.12    -2.45     2.24
2022-04-27     5.35     0.38    -0.47    -1.67

In [18]:
ibov = test.iloc[2].round(2)              # Buscando os dados da linha 01.
sorted (ibov)                             # sorted é usado para colocar em ordem crescente

[-1.67, -0.47, 0.38, 5.35]

In [ ]:
test = pd.DataFrame(ibov)
test

In [ ]:
ibov.to_excel('ibov_cotação.xlsx')       # Exportando via arquivo xlsx.

In [ ]:
# .index