In [85]:
# Importando as bibliotecas que serão utilizadas. 
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt

In [94]:
# Importando os dados do aquivo "IBOVDiA3.csv".
dados = pd.read_csv('IBOVDiA3.csv')                      
display(dados)

   Unnamed: 0 Unnamed: 1        CD
0       RRRP3        .SA  RRRP3.SA
1       ALPA4        .SA  ALPA4.SA
2       ABEV3        .SA  ABEV3.SA
3       AMER3        .SA  AMER3.SA
4       ASAI3        .SA  ASAI3.SA
..        ...        ...       ...
86      VALE3        .SA  VALE3.SA
87      VIIA3        .SA  VIIA3.SA
88      VBBR3        .SA  VBBR3.SA
89      WEGE3        .SA  WEGE3.SA
90      YDUQ3        .SA  YDUQ3.SA

[91 rows x 3 columns]

In [131]:
# Selecinando os tickers das ações. (Que se localizam na quarta coluna).
tickers = dados["CD"]

# Informando a data inicial e final.
data_inicial = dt.datetime(2022,6,3)
data_final   = dt.datetime(2022,6,6)

# Jogando os dados para um lista.
lista =  tickers  # [ "BBDC4.SA","BBAS3.SA", "ITUB4.SA", "SANB4.SA", "VALE3.SA", "VIIA3.SA", "YDUQ3.SA"]

# Buscando a cotação das ações (tickers) importadas via "yahoo finance,".
df = wb.DataReader (lista, "yahoo", data_inicial, data_final) 
df

Attributes  Adj Close                                                          \
Symbols      RRRP3.SA ALPA4.SA ABEV3.SA AMER3.SA ASAI3.SA   AZUL4.SA B3SA3.SA
Date
2022-06-03  48.599998    20.83    14.08     18.4    15.45  18.389999    12.67
2022-06-06  46.860001    20.26    14.05     17.5    15.47  18.230000    12.28

Attributes                                ...   Volume                    \
Symbols    BIDI11.SA BPAN4.SA   BBSE3.SA  ... VIVT3.SA TIMS3.SA TOTS3.SA
Date                                      ...
2022-06-03     11.68     7.54  25.879999  ...  1635700  5961000  3854300
2022-06-06     11.70     7.39  25.670000  ...        0        0        0

Attributes
Symbols    UGPA3.SA  USIM5.SA  VALE3.SA  VIIA3.SA  VBBR3.SA WEGE3.SA YDUQ3.SA
Date
2022-06-03  7339400  13176800  18345000  28447100  13300600  4536400  2170400
2022-06-06        0         0         0         0         0        0        0

[2 rows x 546 columns]

In [132]:
# Calculando a variação diária da ação usando a função "pct_change() ".
df['Close'] = df['Close'].pct_change()         

# Selecionando a coluna "Close" e multiplicando por 100 as cotações da linha 01.
# Colocando 2 colchetes, cria-se um data-frame. Essa função ocorre graças ao pandas. 
test = df[['Close']].round(4)*100    
test.rename_axis('dataaaaa')

Attributes    Close                                                        \
Symbols    RRRP3.SA ALPA4.SA ABEV3.SA AMER3.SA ASAI3.SA AZUL4.SA B3SA3.SA
dataaaaa
2022-06-03      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-06-06    -3.58    -2.74    -0.21    -4.89     0.13    -0.87    -3.08

Attributes                              ...                             \
Symbols    BIDI11.SA BPAN4.SA BBSE3.SA  ... VIVT3.SA TIMS3.SA TOTS3.SA
dataaaaa                                ...
2022-06-03       NaN      NaN      NaN  ...      NaN      NaN      NaN
2022-06-06      0.17    -1.99    -0.81  ...    -2.96    -3.33    -0.28

Attributes
Symbols    UGPA3.SA USIM5.SA VALE3.SA VIIA3.SA VBBR3.SA WEGE3.SA YDUQ3.SA
dataaaaa
2022-06-03      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-06-06    -2.27    -2.14      0.1    -3.19    -2.34     0.23     -3.5

[2 rows x 91 columns]

In [133]:
# Buscando os dados da linha 01.
ibov = test.iloc[1].round(3)

# sorted é uma função usada para colocar em ordem crescente dos dados.
test = sorted (ibov)
test

[-6.15,
 -6.13,
 -6.11,
 -5.29,
 -4.89,
 -4.77,
 -4.29,
 -4.25,
 -4.23,
 -3.83,
 -3.58,
 -3.51,
 -3.5,
 -3.39,
 -3.36,
 -3.33,
 -3.27,
 -3.19,
 -3.19,
 -3.14,
 -3.08,
 -3.0,
 -2.96,
 -2.74,
 -2.7,
 -2.66,
 -2.65,
 -2.53,
 -2.49,
 -2.44,
 -2.36,
 -2.34,
 -2.27,
 -2.14,
 -2.05,
 -2.01,
 -1.99,
 -1.91,
 -1.85,
 -1.73,
 -1.69,
 -1.65,
 -1.43,
 -1.29,
 -1.24,
 -1.18,
 -0.87,
 -0.87,
 -0.84,
 -0.83,
 -0.82,
 -0.82,
 -0.81,
 -0.78,
 -0.75,
 -0.74,
 -0.69,
 -0.6,
 -0.53,
 -0.5,
 -0.48,
 -0.43,
 -0.42,
 -0.37,
 -0.35,
 -0.33,
 -0.28,
 -0.21,
 -0.19,
 -0.14,
 -0.07,
 -0.06,
 0.07,
 0.1,
 0.1,
 0.12,
 0.13,
 0.15,
 0.17,
 0.18,
 0.23,
 0.43,
 0.51,
 0.71,
 0.77,
 0.8,
 1.1,
 1.16,
 1.69,
 1.94,
 2.68]

In [137]:
#test = pd.DataFrame(test)
#test.rename (columns= {0 : "Cotação"}, inplace = True)
#test

ibov = pd.DataFrame (ibov)
ibov.sort_values(['2022-06-06'], inplace = True)

In [138]:
ibov.to_excel('ibov_cotação.xlsx')       # Exportando via arquivo xlsx.

In [8]:
# .index

In [30]:
df = pd.DataFrame([[10,20], 
                   [12,30]]
                 )


df = df.pct_change()
df*100

      0     1
0   NaN   NaN
1  20.0  50.0

In [31]:
df.rename (columns= {
                    0 : "ano", 
                    1 : 80})

   ano   80
0  NaN  NaN
1  0.2  0.5

In [32]:
df.rename_axis('names')

         0    1
names
0      NaN  NaN
1      0.2  0.5