In [1]:
# Importando as bibliotecas que serão utilizadas. 
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt
import time

In [2]:
tempo_inicial = time.time()

# Importando os dados do aquivo "IBOVDiA3.csv".
dados = pd.read_csv('IBOVDiA3.csv')   

# Selecinando os tickers das ações.
tickers = dados["CD"]
tickers

0     RRRP3.SA
1     ALPA4.SA
2     ABEV3.SA
3     AMER3.SA
4     ASAI3.SA
        ...
87    VALE3.SA
88    VIIA3.SA
89    VBBR3.SA
90    WEGE3.SA
91    YDUQ3.SA
Name: CD, Length: 92, dtype: object

In [3]:
# Informando a data inicial e final.
data_inicial = dt.datetime(2022,6,13)
data_final   = dt.datetime(2022,6,14)

# Criando uma variável para os dados extraídos.
lista = tickers

# Importando as cotações das ações (tickers) via "yahoo finance,".
df = wb.DataReader (lista, "yahoo", data_inicial, data_final) 
df["Close"].round(2)

Symbols,RRRP3.SA,ALPA4.SA,ABEV3.SA,AMER3.SA,ASAI3.SA,AZUL4.SA,B3SA3.SA,BIDI11.SA,BPAN4.SA,BBSE3.SA,...,VIVT3.SA,TIMS3.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VIIA3.SA,VBBR3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2022-06-13,42.66,18.48,13.33,13.89,14.57,13.7,11.54,9.87,6.56,24.54,...,46.24,12.46,24.68,12.24,9.62,81.88,2.55,16.90,23.82,13.35
2022-06-14,42.15,18.15,13.26,13.61,14.65,13.5,11.45,9.68,6.46,24.72,...,46.47,12.50,25.14,12.19,9.51,81.64,2.43,16.82,23.84,13.57

In [4]:
# Usando a função "pct_change() " para calcular a variação diária.
df['Close'] = df['Close'].pct_change()         

# Selecionando a coluna "Close" e multiplicando por 100 as cotações da linha 01.
# Colocando 2 colchetes, cria-se um data-frame. Essa função ocorre graças ao pandas. 
test = df[['Close']].round(4)*100    
test

Attributes    Close                                                        \
Symbols    RRRP3.SA ALPA4.SA ABEV3.SA AMER3.SA ASAI3.SA AZUL4.SA B3SA3.SA
Date
2022-06-13      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-06-14     -1.2    -1.79    -0.53    -2.02     0.55    -1.46    -0.78

Attributes                              ...                             \
Symbols    BIDI11.SA BPAN4.SA BBSE3.SA  ... VIVT3.SA TIMS3.SA TOTS3.SA
Date                                    ...
2022-06-13       NaN      NaN      NaN  ...      NaN      NaN      NaN
2022-06-14     -1.93    -1.52     0.73  ...      0.5     0.32     1.86

Attributes
Symbols    UGPA3.SA USIM5.SA VALE3.SA VIIA3.SA VBBR3.SA WEGE3.SA YDUQ3.SA
Date
2022-06-13      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-06-14    -0.41    -1.14    -0.29    -4.71    -0.47     0.08     1.65

[2 rows x 92 columns]

In [5]:
# Selecionando os dados da linha 01.
ibov = test.iloc[1].round(3)
ibov

# Transformando os dados em um "DataFrame"
ibov = pd.DataFrame (ibov)
print(ibov)

# Ordenando os dados
ibov.sort_values(['2022-06-14'], ascending = False, inplace = True)
print(ibov)

                     2022-06-14
Attributes Symbols
Close      RRRP3.SA       -1.20
           ALPA4.SA       -1.79
           ABEV3.SA       -0.53
           AMER3.SA       -2.02
           ASAI3.SA        0.55
...                         ...
           VALE3.SA       -0.29
           VIIA3.SA       -4.71
           VBBR3.SA       -0.47
           WEGE3.SA        0.08
           YDUQ3.SA        1.65

[92 rows x 1 columns]
                     2022-06-14
Attributes Symbols
Close      IRBR3.SA        2.66
           PETR4.SA        2.60
           PETR3.SA        2.47
           ELET3.SA        2.44
           RENT3.SA        2.03
...                         ...
           QUAL3.SA       -2.21
           MGLU3.SA       -2.25
           CVCB3.SA       -2.68
           RADL3.SA       -3.27
           VIIA3.SA       -4.71

[92 rows x 1 columns]

In [6]:
# Exportando via arquivo xlsx.
ibov.to_excel('ibov_cotação.xlsx')

In [7]:
tempo_final = time.time()

tempo = int(tempo_final - tempo_inicial)/60
tempo

2.05