In [1]:
# Importando as bibliotecas que serão utilizadas. 
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt
import time

In [2]:
tempo_inicial = time.time()

# Importando os dados do aquivo "IBOVDiA3.csv".
dados = pd.read_csv('IBOVDiA3.csv')   

# Selecinando os tickers das ações.
tickers = dados["CD"]
tickers

0     RRRP3.SA
1     ALPA4.SA
2     ABEV3.SA
3     AMER3.SA
4     ASAI3.SA
        ...
87    VALE3.SA
88    VIIA3.SA
89    VBBR3.SA
90    WEGE3.SA
91    YDUQ3.SA
Name: CD, Length: 92, dtype: object

In [3]:
# Informando a data inicial e final.
data_inicial = dt.datetime(2022,6,10)
data_final   = dt.datetime(2022,6,13)

# Direcionando dos dados extraídos da tabela.
lista = tickers

# Importando a cotação das ações (tickers) via "yahoo finance,".
df = wb.DataReader (lista, "yahoo", data_inicial, data_final) 
df["Close"].round(2)

Symbols,RRRP3.SA,ALPA4.SA,ABEV3.SA,AMER3.SA,ASAI3.SA,AZUL4.SA,B3SA3.SA,BIDI11.SA,BPAN4.SA,BBSE3.SA,...,VIVT3.SA,TIMS3.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VIIA3.SA,VBBR3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2022-06-10,44.57,19.23,13.59,15.22,15.04,15.38,11.66,10.30,6.83,24.60,...,46.80,12.79,26.23,12.75,10.11,84.56,2.83,17.41,24.00,14.25
2022-06-13,42.66,18.48,13.33,13.89,14.57,13.70,11.54,9.87,6.56,24.54,...,46.24,12.46,24.68,12.24,9.62,81.88,2.55,16.90,23.82,13.35

In [4]:
# Usando a função "pct_change() " para calcular a variação diária.
df['Close'] = df['Close'].pct_change()         

# Selecionando a coluna "Close" e multiplicando por 100 as cotações da linha 01.
# Colocando 2 colchetes, cria-se um data-frame. Essa função ocorre graças ao pandas. 
test = df[['Close']].round(4)*100    
test

Attributes    Close                                                        \
Symbols    RRRP3.SA ALPA4.SA ABEV3.SA AMER3.SA ASAI3.SA AZUL4.SA B3SA3.SA
Date
2022-06-10      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-06-13    -4.29     -3.9    -1.91    -8.74    -3.13   -10.92    -1.03

Attributes                              ...                             \
Symbols    BIDI11.SA BPAN4.SA BBSE3.SA  ... VIVT3.SA TIMS3.SA TOTS3.SA
Date                                    ...
2022-06-10       NaN      NaN      NaN  ...      NaN      NaN      NaN
2022-06-13     -4.17    -3.95    -0.24  ...     -1.2    -2.58    -5.91

Attributes
Symbols    UGPA3.SA USIM5.SA VALE3.SA VIIA3.SA VBBR3.SA WEGE3.SA YDUQ3.SA
Date
2022-06-10      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-06-13     -4.0    -4.85    -3.17    -9.89    -2.93    -0.75    -6.32

[2 rows x 92 columns]

In [5]:
# Selecionando os dados da linha 01.
ibov = test.iloc[1].round(3)
ibov

# Transformando os dados em um "DataFrame"
ibov = pd.DataFrame (ibov)
print(ibov)

# Ordenado os dados
ibov.sort_values(['2022-06-13'], ascending = False, inplace = True)
print(ibov)

                     2022-06-13
Attributes Symbols
Close      RRRP3.SA       -4.29
           ALPA4.SA       -3.90
           ABEV3.SA       -1.91
           AMER3.SA       -8.74
           ASAI3.SA       -3.13
...                         ...
           VALE3.SA       -3.17
           VIIA3.SA       -9.89
           VBBR3.SA       -2.93
           WEGE3.SA       -0.75
           YDUQ3.SA       -6.32

[92 rows x 1 columns]
                      2022-06-13
Attributes Symbols
Close      CIEL3.SA         1.32
           SUZB3.SA         0.70
           ENBR3.SA         0.64
           TAEE11.SA        0.30
           EGIE3.SA        -0.05
...                          ...
           VIIA3.SA        -9.89
           AZUL4.SA       -10.92
           CASH3.SA       -11.11
           CVCB3.SA       -11.72
           GOLL4.SA       -14.46

[92 rows x 1 columns]

In [6]:
# Exportando via arquivo xlsx.
ibov.to_excel('ibov_cotação.xlsx')

In [7]:
tempo_final = time.time()

tempo = int(tempo_final - tempo_inicial)/60
tempo

2.566666666666667