In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
import matplotlib as mpl
import datetime as dt
import matplotlib.pyplot as fig
import seaborn as sns
import bar_chart_race as bcr
import time

In [22]:
import requests

url = "https://projeto-test-62436-default-rtdb.firebaseio.com/.json"
r = requests.get (url)
r = r.json()
print(r)

{'01': {'Idade:': 25, 'Sobrenome:': 'Felipe', 'nome:': 'Ronaldo'}, '02': {'Idade: 26': '', 'Nome:': 'Sulamita', 'Sobrenome:': 'Oliveira'}}

In [23]:

r = requests.get ("https://viacep.com.br/ws/01001000/json/")      #Usa o get para chamar o endereço.
print(r.text)

{
  "cep": "01001-000",
  "logradouro": "Praça da Sé",
  "complemento": "lado ímpar",
  "bairro": "Sé",
  "localidade": "São Paulo",
  "uf": "SP",
  "ibge": "3550308",
  "gia": "1004",
  "ddd": "11",
  "siafi": "7107"
}

In [27]:
class BuscaEndereco:

    def __init__(self, cep):
        cep = str(cep)
        if self.cep_e_valido(cep):
            self.cep = cep
        else:
            raise  ValueError ("Cep inválido")


    def cep_e_valido (self, cep):
        if len (cep) == 8:
            return True
        else:
            return  False


    def format_cep (self):
        return "{}-{}".format(self.cep[:5],self.cep[5:])


    def __str__(self):
        return self.format_cep()


    def acessa_via_cep(self):
        url = "https://viacep.com.br/ws/{}/json/".format(self.cep)
        r = requests.get (url)
        dados = r.json()
        return (
            dados['bairro'],
            dados['localidade'],
            dados['uf']
        )
 

cep = BuscaEndereco("20735280")
print(test.acessa_via_cep())

('Méier', 'Rio de Janeiro', 'RJ')

In [11]:
df = pd.DataFrame([[10,20], 
                   [12,30]]
                 )


df = df.pct_change()
df*100

      0     1
0   NaN   NaN
1  20.0  50.0

In [12]:
df.rename (columns= {
                    0 : "ano", 
                    1 : 80}, inplace= True)

In [13]:
df.rename_axis('names')
df

   ano   80
0  NaN  NaN
1  0.2  0.5

In [14]:
df.drop(df.columns[[0]], axis=1, inplace=True)

In [15]:
df

    80
0  NaN
1  0.5