In [14]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
import matplotlib as mpl
import datetime as dt
import matplotlib.pyplot as fig
import seaborn as sns
import bar_chart_race as bcr
import time

In [15]:
dados = pd.read_csv('infla.csv')   
dados

,ano,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004
0,jan,"6,82","8,32","10,45","10,14","14,61","16,23","13,21","18,89","37,49",...,"1,7","1,34","1,18","0,71","0,7","0,62","0,57","0,52","2,25","0,76"
1,fev,"6,15","6,14","6,06","9,10","8,95","14,36","12,64","15,7","16,78",...,"1,02","1,03","0,5","0,46","1,05","0,13","0,46","0,36","1,57","0,61"
2,mar,"5,1","6,36","8,54","8,98","12,78","-0,11","16,37","17,6","6,82",...,"1,55","0,35","0,51","0,34","1,1","0,22","0,38","0,6","1,23","0,47"
3,abr,"5,04","5,18","7,8","9,23","8,8","0,78","19,1","19,29","8,33",...,"2,43","1,26","0,88","0,24","0,56","0,42","0,58","0,8","0,97","0,37"
4,mai,"7,39","6,46","5,57","9,88","6,76","1,4","21,45","17,42","17,92",...,"2,67","1,22","0,41","0,5","0,3","0,01","0,41","0,21","0,61","0,51"
5,jun,"3,97","7,38","7,87","8,14","7,71","1,27","19,71",22,"28,65",...,"2,26","1,19","0,54","0,02","0,19","0,23","0,52","0,42","-0,15","0,71"
6,jul,"6,69","6,54","12,06","12,62","9,27","1,71","9,21","21,91","27,74",...,"2,36","1,11","0,22","-0,12","1,09","1,61","1,33","1,19","0,2","0,91"
7,ago,"6,28","5,94","8,32","7,32","12,1","3,55","4,87","21,59","33,71",...,"0,99","0,44","-0,02","-0,51","0,56","1,31","0,7","0,65","0,34","0,69"
8,set,"5,29","5,61","9,48","11,39","11,98","1,72","7,78","27,45","37,56",...,"0,99","0,15","0,06","-0,22","0,31","0,23","0,28","0,72","0,78","0,33"
9,out,"4,57","4,59","10,9","10,87","9,6","1,9","11,22","25,62","39,77",...,"1,41","0,3","0,23","0,02","1,19","0,14","0,83","1,31","0,29","0,44"
10,nov,"5,88","4,59","6,96","10,35","11,12","5,45","15,08","27,94","47,82",...,"1,47","0,32","0,17","-0,12","0,95","0,32","0,71","3,02","0,34","0,69"
11,dez,"4,37","6,04","7,44","10,35","13,36","11,65","14,15","28,7","51,5",...,"1,56","0,47","0,43","0,33","0,6","0,59","0,65","2,1","0,52","0,86"

In [19]:
df.drop (columns= {
                    0 : "ano", 
                    1 : 80})

KeyError: '[0 1] not found in axis'

In [11]:
bcr.bar_chart_race(dados, fixed_max=True)

TypeError: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.