In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [4]:
tickers = ['AAPL', 'MSFT']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2022') ['Adj Close']  #Adj Close é a coluna
sec_data

                  AAPL        MSFT
Date
2022-01-03  181.778397  334.059265
2022-01-04  179.471344  328.331116
2022-01-05  174.697418  315.727173
2022-01-06  171.781143  313.232330
2022-01-07  171.950928  313.391998
...                ...         ...
2022-04-26  156.800003  270.220001
2022-04-27  156.570007  283.220001
2022-04-28  163.639999  289.630005
2022-04-29  157.649994  277.519989
2022-05-02  154.229996  278.959991

[83 rows x 2 columns]

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))*100  # Calcula o retorno logarítimo de ambas empresas 
sec_returns

                AAPL      MSFT
Date
2022-01-03       NaN       NaN
2022-01-04 -1.277279 -1.729582
2022-01-05 -2.696011 -3.914413
2022-01-06 -1.683420 -0.793328
2022-01-07  0.098789  0.050961
...              ...       ...
2022-04-26 -3.804264 -3.812129
2022-04-27 -0.146789  4.698754
2022-04-28  4.416565  2.238028
2022-04-29 -3.729154 -4.271130
2022-05-02 -2.193238  0.517541

[83 rows x 2 columns]

In [14]:
sec_returns ['AAPL']. mean()  # Retorno médio diário

-0.003917255580828079

In [15]:
sec_returns['AAPL']. mean() *49   # "Anualizando" o retorno médio diário

-0.19194552346057586

In [16]:
sec_returns ['AAPL'].std()   #.std() calcula o desvio padrão

0.01886613627372683

In [17]:
sec_returns['AAPL'].std() *49 ** 0.5    # Anualizar o desvio padrão

0.13206295391608783

MSF

In [18]:
sec_returns ['MSFT']. mean()    # Retorno médio diário

-0.003944262702297941

In [19]:
sec_returns['MSFT']. mean() * 49 # "Anualizando" o retorno médio diário

-0.1932688724125991

In [20]:
sec_returns ['MSFT'].std()   #.std() calcula o desvio padrão

0.021282482141868137

In [21]:
sec_returns['MSFT'].std() * 49 ** 0.5      # Anualizar o desvio padrão

0.14897737499307695

-----------------------------------------------------------------------------------------------------------------------------

In [22]:
print (sec_returns['AAPL']. mean() * 49)   # Média 
print (sec_returns['MSFT'].mean() * 49)    #Média

-0.19194552346057586
-0.1932688724125991

In [23]:
print (sec_returns ['AAPL'].std())
print (sec_returns ['MSFT'].std() )

0.01886613627372683
0.021282482141868137

OR

In [24]:
sec_returns [['AAPL', 'MSFT']]. std() * 49

AAPL    0.924441
MSFT    1.042842
dtype: float64

In [25]:
sec_returns [['AAPL', 'MSFT']]. std() * 49 ** 0.5

AAPL    0.132063
MSFT    0.148977
dtype: float64

-------------------------------------------------------------------------------------------------------------------------

Medindo duas variáveis (Calculando a covariancia e a correlação)

In [26]:
AAPL_var = sec_returns ['AAPL'].var()   # var Calcula a variancia 
AAPL_var

0.00035593109789883127

In [27]:
MSFT_var = sec_returns ['MSFT'].var()
MSFT_var

0.0004529440461189362

In [28]:
AAPL_var = sec_returns ['AAPL'].var() *49
AAPL_var

0.017440623797042733

In [29]:
MSFT_var = sec_returns ['MSFT'].var() *49
MSFT_var

0.022194258259827872

In [30]:
corr_matrix = sec_returns.cov()   # Covariancia diária
corr_matrix

          AAPL      MSFT
AAPL  0.000356  0.000310
MSFT  0.000310  0.000453

In [31]:
corr_matrix_a = sec_returns.cov() * 49  # Covariancia anualizada. (0.044600 e 0.028065 é a covarancia)
corr_matrix_a

          AAPL      MSFT
AAPL  0.017441  0.015183
MSFT  0.015183  0.022194

In [32]:
corr_matrix = sec_returns.corr()    #Calculando a correlação que é de 0.71..
corr_matrix

          AAPL      MSFT
AAPL  1.000000  0.771729
MSFT  0.771729  1.000000

Calculando o risco do portifólio

In [33]:
weights = np.array([0.5, 0.5])

In [35]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 49, weights))   #Variancia da carteira anterior 
pfolio_var

0.01750036991599951

In [36]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 49, weights))) **0.5   # Calculando a volatividade 
pfolio_vol

0.1322889636968992

In [37]:
print (str(round(pfolio_vol, 5) * 100) + '%')

13.229%

-----------------------------------------------------------------------------------------------------------------------

Calcular o risco sistemático e não sistemático

In [38]:
weights = np.array([0.5, 0.5])  #Peso dos dois ativos 
weights[0]

0.5

In [39]:
weights[1]

0.5

In [40]:
float(AAPL_var_a)   #Serve para reirar o erro float

NameError: name 'AAPL_var_a' is not defined

In [41]:
AAPL_var_a = sec_returns['AAPL'].var() * 168     #Calculando a variancia 
AAPL_var_a

0.05979642444700366

In [ ]:
MSFT_var_a = sec_returns['MSFT'].var() * 168    #Calclando a variancia 
MSFT_var_a

In [ ]:
dr = pfolio_var - (weights[0] **2 *AAPL_var_a) - (weights[1] **2 *MSFT_var_a)    #Calculando o risco não sistemático
dr

In [ ]:
print (str(round(dr, 5) * 100) + '%')   #Tal valor indica um alto risco

In [ ]:
n_dr_1 = pfolio_var - dr   # Calculando a variancia 
n_dr_1

In [ ]:
n_dr_2 = (weights[0] **2 *AAPL_var_a) + (weights[1] **2 * MSFT_var_a )   #Calculando o risco sitémico 
n_dr_2

In [ ]:
print (str(round(n_dr_2, 5) * 100) + '%')

-------------------------------------------------------------------------------------------------------------------